* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "akshar", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 1.5rem; 
    min-height: 100vh;
    background-color:  whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
}

header, nav, footer {
    display: grid;
    place-content: center;
}

header, footer {
    position: sticky;
    background-color: rgb(227, 244, 97);
}

header {
    top: 0
}

h1 {
    display: grid;
    place-content: center;
    margin-top: 15px;
    font-weight: bold;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.about-image {
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-color: black;
}



main {
    /* flex-grow: 1; */
    margin: 20px;
}

.portfolio-h2{
    display: grid;
    place-content: center;
    margin: 20px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding-top: 5px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.content {
    display: flex;
    flex: 0 1 49%;
    flex-direction: column;
    /*x-column/y-row*/
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
    /* float: left; */
    text-align: center;
    padding-top: 10px;
    box-shadow: 10px, 10px, 8px, black;
    border: solid 3px black;
}

#showcase-project {
    flex: 0 1 75%;
}

.gallery img {
    width: 50%;
    place-content: center;
    margin: 0;
    display: block;

}

footer {
    bottom: 0;
}

h3 {
    display: grid;
    place-content: center;
}

.contact-list li {
    list-style: none;
    display: grid;
    place-content: center;

}



@media screen and (min-width: 768px){
    .gallery {
        flex-direction: row;

    }
    #showcase-project {
        flex: 0 1 100%;
    }
    .content {
        flex: 0 1 49%;
    }
}




